@font-face {
  font-family: monserrat;
  src: url(fuentes/Montserrat-Italic-VariableFont_wght.ttf);
}
/* boton de quoter */
.lk-qtr {
  background-color: #ffd700;
}

#account{
  width: 700px;
}

.final{
  margin-top: 45px;
  margin-left: 20%;
}
.linea {
  background-color: #0000002c;
  width: 100%;
  height: 1px;
}
/* mapa de google responsive */
.map-responsive {
  overflow: hidden;
  padding-bottom: 59.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* cierra mapa de google responsive */
/* footer abajo */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
/* footer abajo */
.columnas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-left: 40px;
  margin-right: -80px;
}
.articulo {
  padding: auto;
  height: 250px;
  width: 250px;
  margin-bottom: 40px;
  margin-left: 50px;
  cursor: pointer;
}
.puerta {
  margin-top: 0%;
  width: 250px;
  height: auto;
}

  .articulo:hover {
    box-shadow: 0px 5px 20px black;
  }
@media (min-width: 1800px) and (max-width: 3000px) {
  .columnas {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(100px, auto);
    margin-left: 80px;
    margin-right: -80px;
  }
  tr {
    margin-bottom: 80px;
  }
  .tabla {
    width: 95%;
    margin-bottom: 10%;
  }
  .puerta {
    margin-top: 0%;
    width: 300px;
    height: auto;
  }
  .articulo {
    padding: auto;
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
    margin-left: 10px;
    cursor: pointer;
  }
}
@media (max-width: 1120px) {
  .columnas {
    width: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .columnas {
    width: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-left: 0px;
  }
}
@media (max-width: 540px) {
  .columnas {
    width: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-left: 0px;
  }
  #account{
    width: 300px;
  }
}