<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <script src="javascript/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="style/estilos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand ms-5" href="index">
            <img src="/images/redes/LOGO-Acemar-Gris-2020 US.png" alt="" width="auto" height="70">
        </a>
        <ul class="nav justify-content-end me-5">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="pisos">Floorings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="lista">Quoter</a>
            </li>
            <li class="nav-item">
                <a href="/"><i class="fa-solid fa-arrow-right-from-bracket mt-3 ms-3 text-secondary fs-5"></i></a>
            </li>
        </ul>
        <div class="mt-2 linea"></div>
    </nav>
    <form action="/client" method="post" id="client" class="client">
        <div class="bg-light p-5 text-secondary container border rounded-3" id="account">
              <div class="text-center fs-1 fw-bold">Create Account</div>
            <div class="input-group mt-3">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-envelope text-white"></i>
                </div>
                <input required type="email" placeholder="Email" name="email" class="form-control">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-lock text-white"></i>
                </div>
                <input required type="password" placeholder="Password" name="pass" class="form-control">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-phone text-white"></i>
                </div>
                <input required type="number" placeholder="Phone" name="phone" class="form-control">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-percent text-white"></i>
                </div>
                <input required type="number" placeholder="Discount" name="discount" class="form-control">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-users text-white"></i>
                </div>
                <select class="form-select text-secondary" name="rolex" aria-label=".form-select-lg example">
                    <option selected>Rol</option>
                    <option value="admin">Administrator</option>
                    <option value="client">Client</option>
                </select>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-location-dot text-white"></i>
                </div>
                <input required type="text" placeholder="Address" name="address" class="form-control">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-envelopes-bulk text-white"></i>
                </div>
                <input required type="text" placeholder="Postal Code" name="postal" class="form-control">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-warning">
                    <i class="fa-solid fa-flag-usa text-white"></i>
                </div>
                <input required type="text" placeholder="State" name="state" class="form-control">
            </div>
            <input type="submit" class="btn btn-warning mt-3 w-100 text-white" value="Create">
        </div>
    </form>
</body>

</html>