<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acemar</title>
    <script src="javascript/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style/estilos.css"/>
    <link rel="stylesheet" href="style/guardados.css" />
    
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand ms-5" href="index">
          <img src="/images/redes/LOGO-Acemar-Gris-2020 US.png" alt="" width="auto" height="70">
        </a>
        <ul class="nav justify-content-end me-5">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="index">Doors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="pisos">Floorings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-light text-secondary" href="lista">Quoter</a>
          </li>
          <li class="nav-item">
            <a href="/"><i class="fa-solid fa-arrow-right-from-bracket mt-3 ms-3 text-secondary fs-5"></i></a>
          </li>
        </ul>
        <div class="mt-2 linea"></div>
      </nav>
    <div id="areaImprimir">
        <table class="table table-responsive table-hover" id="dbVacas-list">

        </table>
        <div class="conpacto">
            <div class="informacion">
                <label for="">2310 Tall Pines Drive - Suite 230, Largo Florida 33771</label>
                <br>
                <label for="">727 584 3711</label>
                <br>
                <label for="">sales@acemar.us</label>
            </div>
        </div>
    </div>

    <div class="ultimo">
        <div>
            <label for="">Subtotal:</label>
            <span id="subtotal"></span>
            <br>
            <label for="">Impuesto: </label>
            <span>7%</span>
            <br>
            <label for="">Flete: </label>
            <span id="flete"></span>
            <br>
            <label for="">Total: </label>
            <span id="final"></span>
        </div>
    </div>
    <div class="btn-eli">
        <button type="submit" class="btn-del" onclick="printDiv('areaImprimir')"> <img src="images/icons/impresora.png"
                height="80" width="100" /></button>
    </div>
</body>

<script src="/javascript/funciones.js"></script>
<Script>
    let total = 0,
        Quantity = 0,
        flete = 0;
    for (let p = 0; p < dbVacas.length; p++) {
        var d = JSON.parse(dbVacas[p]);
        gato = d.imgmarco;
        perro = d.cantidad;
        total = total + Number(gato);
        Quantity = Quantity + Number(perro);
    }
    if (120 >= Quantity) {
        flete = 8000;
    } else {
        flete = 10000;
    }
    tot = total + flete;
    tota = tot * 0.07;
    totl = tota + tot;
    total = Number(total.toFixed(2));
    totalfinal = Number(totl.toFixed(2));
    document.getElementById("subtotal").innerText = `${total}`;
    document.getElementById("flete").innerText = `${flete}`;
    document.getElementById("final").innerText = `${totalfinal}`;
</Script>
<script>
    function printDiv(nombreDiv) {
        var contenidoOriginal = document.body.innerHTML;
        window.print();
    }
</script>
<script>
    boton.addEventListener("click", function () {
        window.history.back();
    }, false);
</script>
<script type="text/javascript">
    function back() {
        history.back();
    }
</script>

</html>